@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Inconsolata:wght@700&display=swap');

*{
    font-family: 'Space Mono', monospace;   
}


section{
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 50px;
    gap: 70px;
}

section h3{
    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;    
}

.image{
    width: auto;
    height: 400px;
}

.container{
    display: flex;
    gap: 70px;
    align-items: center;
}

.text-container h3{
    color: var(--gray-1, #333);
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
}

.text-container p{
    color: var(--gray-2, #4F4F4F);
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;  
}

.button{
    background: var(--gray-1, #333);
    padding: 24px 43px 24px 43px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.49px;
    border: 0;
}